# macOS
.DS_Store

# Xcode
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside

# Xcode workspaces
*.xcworkspace/

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
